/* img{
    border:2px solid blue;
    width: 70%;
    height:40%;
    margin-left: 20%;
    margin-right: 70%; } */
    *{
        font-family: 'Ubuntu', sans-serif;
    }
    .college{
        align-items: center;
        
        
        position: relative;
        display: flex;
        justify-content: center;
        padding: 12px;
        margin: 2px;
        border-bottom: 2px solid purple;
        }
img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    width: 95%;
    }
 .about{
      text-align: justify;
      margin-top:45px;
      margin-right: 50px;
      margin-left: 50px;
      border: 2px solid lightgray;
      padding: 35px;
      /* background-color: lightgray; */
      /* border-bottom: 2px solid purple;  */
      border-radius: 16px;
      }
      .about h1{
          text-align: center;
          margin-bottom: 20px;
          font-weight: 600;
      }  
      /* .mission{
          /* background-color: lightgray; */
          /* margin-top:45px;
      margin-right: 50px;
      margin-left: 50px;
      padding-left: 35px;
        padding-right: 35px;
      } */ 
      .vision{
        text-align: justify;
        margin-top:45px;
        margin-right: 50px;
        margin-left: 50px;
        border: 2px solid lightgray;
        padding: 35px;
        /* background-color: lightgray; */
        /* border-bottom: 2px solid purple;  */
        border-radius: 16px;
      }
      .vision h1{
        text-align: center;
        margin-bottom: 20px;
    }  
    .extra{
      display: flex;
      margin: 50px;
      margin-top: 45px;
      border: 2px solid lightgray;
      border-radius: 10px;
    }
    .extra h1{
      text-align: center;
      margin-bottom:20px ;
      margin-top: 25px;
    }
    .info{
      margin:20px;
      margin-top: 20px;
      padding: 10px;
      border: 2px solid lightgray;
      border-radius: 10px;
    }